/* InputBox.css */
.InputBox {
	text-align: center;
	margin-top: 10px;  
	width: 100%;
}

input {
	border: none;
}

.queryBox {
	transition: 0.5s;
	margin-top: 25px;
	height: 25px;
	width: 40%;
	border: 1px solid #e3e3e3;
	border-radius: 20px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-family: "Inter", sans-serif;
}

.queryBox-mobile {
	margin-top: 4%;
}

.queryBox:focus {
	transition: 0.5s;
	outline: none;
	border-radius: 20px;
	border-color: lavender;
}

.submitButton {
	transition: 0.5s;
	width: 35px;
	height: 35px;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 5px;
	color: white;
	background-color: rgb(150, 143, 141);
	border-radius: 20px;
}

.submitButton:hover {
	transition: 0.5s;
	background-color: rgb(129, 123, 122);
	cursor: pointer;
}

.submitButton:focus {
	outline: none;
	transition: 0.5s;
}

.filterModalButton {
	background-color: rgb(244, 240, 238);
	cursor: pointer;
	transition: 0.5s;
	margin-left: 5px;
	margin-right: 5px;
  font-size: 0.9rem;
}

.filterModalButton:hover {
	background-color: white;
	cursor: pointer;
	transition: 0.5s;
}

.filtersWrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
