.SongLyric {
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 1.4;
}

.lyricBlock {
	margin-bottom: 6px;
}

.prevLyric,
.nextLyric {
	font-size: 14px;
  color: #666;
}

.lyric {
	font-size: 17px;
}

.lyric .query {
	background: #f0d9cf;
	padding: 0 1px;
	border-radius: 2px;
}


.songMeta {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 13px;
	color: #666;
	margin-top: 4px;
  justify-content: center;
}

.albumThumb {
	width: 28px;
	height: 28px;
	object-fit: cover;
	border-radius: 50%;
}

.songMeta i {
	font-style: italic;
}

.songMeta p {
	margin: 0;
}
